VITE_SUPABASE_URL=https://hnhyiyaetdbuoyndngqr.supabase.co/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhuaHlpeWFldGRidW95bmRuZ3FyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyMzA1ODEsImV4cCI6MjEwNDgwNjU4MX0.80GZTlsEdcRhafAgjKLVZiT4ExGYtJa1kOPNceFPbYM
